<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Documentation -- Computed Properties and Watchers</title>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>



    <div id="blog-posts-events-demo">
        <h2>Emitting a Value With An Event</h2>


        <div v-bind:style="{fontSize: postFontSize + 'em'}">
            <blog-post v-on:enlarge-text="postFontSize += $event" v-for="post in posts" v-bind:key="post.id" v-bind:post="post"></blog-post>
        </div>


        <div v-bind:style="{fontSize: postFontSize + 'em'}">
            <blog-post v-on:enlarge-text="onEnlargeText" v-for="post in posts" v-bind:key="post.id" v-bind:post="post"></blog-post>
        </div>


    </div>




    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>



</body>
</html>
